<ion-view>
  <ion-nav-title>{{title}}</ion-nav-title>
  <ion-content>
    <form class="list" novalidate ng-submit="submitForm(formitem)">
      <div class="padding" dynamic="fullform"></div>
      <input type="hidden" ng-model="formitem.antispam" name="antispam" ng-init="formitem.antispam = 1">
      <div class="padding">
        <button ngClick="Submit" type="submit" class="button button-block button-positive">Enregistrer</button>
      </div>
    </form>
    <!-- <pre>formitem = {{formitem | json}}</pre> -->
  </ion-content>
</ion-view>
