<ion-view view-title="MedObs-Sub">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Indice paysager</div>
       <div class="row row-center">
        <div class="col col-50">
          <a href="#/tab/map/sites" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-carte.svg">
            Les sites<br>observés
          </a>
          <a href="#/tab/form/indice" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-saisir-donnees.svg">
            Saisir une<br>observation
          </a>
          <a href="#/tab/form/sites" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-saisir.svg">
            Saisir un site<br>d'observation
          </a>        
        </div>
        <div class="col">
          <div class="item item-image">
            <img class="img-responsive" src="img/indicepaysager.jpg">
          </div>
        </div>
      </div>
    </div>
    <!--<div class="list card">
      <div class="item item-divider">Pêcheurs sentinelles</div>
      <div class="row row-center">
        <div class="col col-50">
          <a href="#/tab/avatarlist/sentinelle" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-obs.svg">
            Liste pêcheurs<br> sentinelles
          </a>
          <a href="#/tab/map/sentinelle" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-carte.svg">
            Cartographie
          </a>        
        </div>
        <div class="col">
          <div class="item item-image">
            <img class="img-responsive" src="img/devenir-pecheur-sentinelle.jpg">
          </div>
        </div>
      </div>
    </div>-->
    <div class="list card">
      <div class="item item-divider">Espèces exotiques</div>
      <div class="row row-center">
        <div class="col col-50">
          <a href="#/tab/form/especes" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-saisir-donnees.svg">
            Saisir une<br>observation
          </a>
          <a href="#/tab/map/especes" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-carte.svg">
            Cartographie
          </a>        
        </div>
        <div class="col">
          <div class="item item-image">
            <img class="img-responsive" src="img/especes-exotiques.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Usages</div>
      <div class="row row-center">
        <div class="col col-50">
          <a href="#/tab/form/usages" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-saisir-donnees.svg">
            Saisir une<br>observation
          </a>
          <a href="#/tab/map/usages" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-carte.svg">
            Cartographie
          </a>        
        </div>
        <div class="col">
          <div class="item item-image">
            <img class="img-responsive" src="img/usages.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Biodiversité</div>
      <div class="row row-center">
        <div class="col col-50">
          <a href="#/tab/form/biodiversite" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-saisir-donnees.svg">
            Saisir une<br>observation
          </a>
          <a href="#/tab/map/biodiversite" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-carte.svg">
            Cartographie
          </a>        
        </div>
        <div class="col">
          <div class="item item-image">
            <img class="img-responsive" src="img/biodiversite.jpg">
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Pollutions</div>
      <div class="row row-center">
        <div class="col col-50">
          <a href="#/tab/form/pollution" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-saisir-donnees.svg">
            Saisir une<br>observation
          </a>
          <a href="#/tab/map/pollution" class="item">
            <img width="30" height="30" class="list-picto" src="img/icon-carte.svg">
            Cartographie
          </a>        
        </div>
        <div class="col">
          <div class="item item-image">
            <img class="img-responsive" src="img/pollutions.jpg">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
