<ion-view view-title="A propos">
  <ion-content>
    <div class="list card">
      <div class="row row-center">
        <div class="col col-50">
          <div class="item item-image">
            <a href="http://www.medobs-sub.org/"><img src="img/Logo-MedObs-Sub.png"></a>
          </div>
        </div>
        <div class="col">
          <div class="item item-image">
            <a href="http://olb.cpie.fr/"><img src="img/logoolbiodiv.png"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Contacts
      </div>
      <div class="item">
        <a href="http://www.cpie-coteprovencale.org">
          <img class="full-image" src="img/logocpieCProve.png">
        </a>
        <h2><b>PACA et Corse</b></h2>
        <b>CPIE Côte Provençale</b><br>
        596 Avenue des Calanques<br>
        Parc du Mugel<br>
        13600 La Ciotat<br><br>
        04.42.08.71.10
        <h2><a href="mailto:contact@medobs-sub.org">contact@medobs-sub.org</a></h2>


        <br><br>
        <b>Lisa Bernardin</b><br>
        Coordinatrice de l'Observatoire<br><br>

        <b>Gauthier Verbeke</b><br>
        Animateur "Plongeurs sentinelles"<br><br>

        <b>Marion Morin Hillaire</b><br>
        Animatrice "Pêcheurs sentinelles"<br>

        <br><hr><br>

        <a href="http://www.cpiebassindethau.fr">
          <img class="full-image" src="img/logocpieBThau.png">
        </a>
        <h2><b>Languedoc-Roussillon</b></h2>
        <b>CPIE Bassin de Thau</b><br>
        Parc Technologique et Environnemental<br>
        Route des Salins<br>
        34140 Mèze<br><br>
        04.67.24.07.55<br><br>

        <b>Esther Emmanuelli</b><br>
        Animatrice<br><br>

        <b>Zarah Simard</b><br>
        Animatrice<br><br>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">
        Partenaire
      </div>
      <div class="item item-image">
        <a href="http://www.eaurmc.fr/" target="_blank">
          <img src="img/logoAERMCORSE.png">
        </a>
      </div>
    </div>

    <div class="list card padding-bottom">
      <div class="item item-divider">
        Informations techniques / Licence
      </div>
      <div class="item">
        Réalisation <a href="http://atelierbleu.fr" target="_blank">Atelier bleu</a> / <a href="http://florian-express.info" target="_blank">Florian-express</a>.<br><br>
        Code source de l'application :<br>
        <a href="https://github.com/mrflos/medobssub" target="_blank">https://github.com/mrflos/medobssub</a><br><br>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="img/license-CC-BY-SA.png" /></a><br />Cette œuvre est mise à disposition selon<br>les termes de la licence<br><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution<br>Partage dans les Mêmes Conditions 4.0<br>International</a>.
      </div>
    </div>

  </ion-content>
</ion-view>
