/* Charte medobs
Bleu foncé rgb(29,26,84)
Bleu turquoise rgb(65,152,127)
Pêcheurs rgb(133,102,54)
Plongeurs rgb(127,28,52)
*/

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */
  .menu-container {
    float:none;
    height:50%;
    width:100%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */
  .menu-container {
    float:left;
    height:100%;
    width:40%;
    margin: 0 5%;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}

.icon-24 {
  width:24px;
  height:24px;
}
.menu-container .btn-menu {
  margin:0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform:      translateY(-50%);
} 

#home-content {
  background: rgb(29,26,84);
}
#menu-observatoire-content {
  background: rgb(127,28,52);
}
#menu-pecheurs-content {
  background: rgb(133,102,54);
}
#menu-pecheurs-content>.table-view {
  margin: 15px 0;
}

#menu-pecheurs-content .btn-menu,  #menu-observatoire-content .btn-menu {
  width:40%;
}

.BAZ_rubrique { margin-top: 10px;}

.bar {
  border:none;
}

a {
  color:rgb(29,26,84);
}

.hide, .btn_adresse  {
  display: none;
}
.btn-save {
  margin-top: 20px;
}

.symbole_obligatoire {
  color:red;
}

/* carte plein écran */
#leaflet-map {
  width:100%;
  height:100%
}
/* conteneur des cartes pour les formulaires */
#map {
  width:100%;
  height:240px;
}
#map #leaflet-map {
  width:100%;
  height:240px;
}

.control-content label {
  margin-top:18px;
  display:block;
}

/* input type range */
.control-content input[type=range] {
  /*width:75%;*/
}
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 250px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 250px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: rgb(65,152,127);
    margin-top: -12px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 250px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: rgb(65,152,127);
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 250px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: rgb(65,152,127);
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


.list-spacer {
	margin-bottom:45px;
}

.img-responsive {
	max-width: 100%;
	width:auto;
}

.img-centered {
	display: block;
	margin:0 auto;
}

.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 3px;
  font-size: 10px;
  line-height: 11px;
  text-align: left;
}
.bar-footer .icon {
  font-size: 12px;
}

.BAZ_label {font-weight: bold;}

.menu-pecheurs .table-view {margin:0;}
.menu-pecheurs .table-view-divider {padding-top:25px;}

.table-view-cell .icon {
  color: rgb(29,26,84);
}
.saisie-obs-card {
  margin:5px;
  padding:5px;
  font-size: 13px;
}

.content>.table-view:first-child {
margin-top: 0px;
}

.colonne2 .checkbox,.colonne4 .checkbox  {
display: inline-block;
width:48%;
margin:0 1% 1% 0;
background: white;
border: 1px solid rgba(0, 0, 0, .2);
border-radius: 3px
}
.checkbox input {
  float: left;
  margin: 14px 3px 0 3px;
}
.checkbox label {
  display: block;
  padding: 10px 0;
}

.colonne, .colonne2, .colonne4 {
  margin-bottom: 15px;
}

.control-label {
  color: rgb(29,26,84);
  font-weight: bold;
}

.btn-menu {
  margin: 20px auto;
  display: block;
  max-width: 318px;
  /*border-radius: 15px;*/
  border-radius: 0;
  background: #FFF;
  border:0;

}

.img-menu {
float: left;
width: 145px;
}

.modal{
  z-index: 1;
}
.modal.active{
  z-index: 100;
}

@media screen and (max-width: 455px) {
  .img-menu {
    /*float:none;
    display:block;*/
  }
}

/** page slider **/
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    text-align: left;
}

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}